*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /*tema 1(padrão) */

    --theme1-bg: hsl(222, 26%, 31%);
    --theme1-keypad-bg: hsl(223, 31%, 20%);
    --theme1-screens-bg: hsl(224, 36%, 15%);
    --theme1-key-bg: hsl(30, 25%, 89%);
    --theme1-key-shadow: hsl(28, 16%, 65%);
    --theme1-action-bg: hsl(225, 21%, 49%);
    --theme1-action-shadow: hsl(224, 28%, 35%);
    --theme1-equals-bg: hsl(6, 63%, 50%);
    --theme1-equals-shadow: hsl(6, 70%, 34%);
    --theme1-text: hsl(0, 0%, 100%);
    --theme1-key-text: hsl(221, 14%, 31%);

        /*tema 2(padrão) */

    --theme2-bg: hsl(221, 100%, 50%);
    --theme2-keypad-bg: hsl(303, 100%, 68%);
    --theme2-screens-bg: hsl(224, 36%, 15%);
    --theme2-key-bg: hsl(182, 100%, 50%);
    --theme2-key-shadow: hsl(28, 16%, 65%);
    --theme2-action-bg: hsl(225, 21%, 49%);
    --theme2-action-shadow: hsl(224, 28%, 35%);
    --theme2-equals-bg: hsl(6, 63%, 50%);
    --theme2-equals-shadow: hsl(6, 70%, 34%);
    --theme2-text: hsl(0, 0%, 100%);
    --theme2-key-text: hsl(221, 14%, 31%);

        /*tema 3(padrão) */

    --theme3-bg: hsl(123, 100%, 48%);
    --theme3-keypad-bg: hsl(223, 100%, 48%);
    --theme3-screens-bg: hsl(224, 36%, 15%);
    --theme3-key-bg: hsl(30, 65%, 38%);
    --theme3-key-shadow: hsl(29, 59%, 41%);
    --theme3-action-bg: hsl(0, 0%, 81%);
    --theme3-action-shadow: hsl(224, 28%, 35%);
    --theme3-equals-bg: hsl(6, 63%, 50%);
    --theme3-equals-shadow: hsl(6, 70%, 34%);
    --theme3-text: hsl(0, 100%, 50%);
    --theme3-key-text: hsl(318, 100%, 48%);
}

body{
    font-family: 'League Spartan', sans-serif;
    background-color: var(--theme1-bg);
    color: var(--theme1-text);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}
.calculator-container{
    display: flex;
    width: 430px;
    box-shadow: 100%;
    flex-direction: column;
    border-radius: 30%;
    border-color: var(--theme1-bg);
    justify-content: center;
    align-items: center;
}

.display{
    display: flex;
    height: 100px;
    width: 420px;
    justify-content: end;
    align-items: end;
    border-radius: 10px;
    background-color: var(--theme1-screens-bg);
    margin: 20px;
    padding: 7px;
}
.result{
    font-size: 65px;

}
.keypad{
    background-color: var(--theme1-keypad-bg);
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    height: 520px;
    justify-content: center;
    width: 420px;
    border-radius: 10px;
    justify-items: center;
}
.key{
    width: 90px;
    height: 90px;
    border-radius: 10%;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
    margin: 3px;
    align-items: center;
}

.action{
    background-color: var(--theme1-action-bg);
    color: var(--theme1-key-bg);
}

.span-2{
    width: 186px;
    background-color: var(--theme1-action-bg);
    color: var(--theme1-key-bg);
}

.equals{
    background-color: var(--theme1-equals-bg);
}

.header{
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 420px;
}
.theme-switcher{
    justify-self: end;
    display: flex;
    align-items: center;
}

.theme-toggle{
    display: flex;
    background-color: var(--theme1-screens-bg);
    width: 36px;
    height: 15px;
    border-radius: 30px;
    position: relative;
}
.toggle-ball{
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transition: transform 0.3s ease;
    position: absolute;
    transform: translateX(0px)
}

span{
    width: 100px;
}

.theme-2 {
    background-color: var(--theme2-bg);
    color: var(--theme3-text);
}

.theme-2 .display {
    background-color: var(--theme2-screens-bg);
}

.theme-2 .keypad {
    background-color: var(--theme2-keypad-bg);
}

.theme-2 .key {
    background-color: var(--theme2-key-bg);
    box-shadow: 0 4px 0 0 var(--theme3-key-shadow);
}

.theme-2 .action{
    background-color: var(--theme2-action-bg);
    box-shadow: var(--theme3-action-shadow);
}

.theme-2 .equals{
    background-color: var(--theme2-equals-bg);
    box-shadow: var(--theme3-equals-shadow);
}

.theme-2 .theme-toggle{
    background-color: var(--theme2-keypad-bg);
}

.theme-2 .toggle-ball{
    background-color: var(--theme2-equals-bg);
    transform: translateX(10px);
}

 /*  Tema  */
.theme-3 {
    background-color: var(--theme3-bg);
    color: var(--theme3-text);
}

.theme-3 .display {
    background-color: var(--theme3-screens-bg);
}

.theme-3 .keypad {
    background-color: var(--theme3-keypad-bg);
}

.theme-3 .key {
    background-color: var(--theme3-key-bg);
    box-shadow: 0 4px 0 0 var(--theme3-key-shadow);
}

.theme-3 .action{
    background-color: var(--theme3-action-bg);
    box-shadow: var(--theme3-action-shadow);
}

.theme-3 .equals{
    background-color: var(--theme3-equals-bg);
    box-shadow: var(--theme3-equals-shadow);
}

.theme-3 .theme-toggle{
    background-color: var(--theme3-keypad-bg);
}

.theme-3 .toggle-ball{
    background-color: var(--theme3-equals-bg);
    transform: translateX(20px);
}