*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /*tema 1(padrão) */

    --theme1-bg: hsl(222, 26%, 31%);
    --theme1-keypad-bg: hsl(223, 31%, 20%);
    --theme1-screens-bg: hsl(224, 36%, 15%);
    --theme1-key-bg: hsl(30, 25%, 89%);
    --theme1-key-shadow: hsl(28, 16%, 65%);
    --theme1-action-bg: hsl(225, 21%, 49%);
    --theme1-action-shadow: hsl(224, 28%, 35%);
    --theme1-equals-bg: hsl(6, 63%, 50%);
    --theme1-equals-shadow: hsl(6, 70%, 34%);
    --theme1-text: hsl(0, 0%, 100%);
    --theme1-key-text: hsl(221, 14%, 31%);

        /*tema 2(padrão) */

    --theme2-bg: hsl(222, 26%, 31%);
    --theme2-keypad-bg: hsl(223, 31%, 20%);
    --theme2-screens-bg: hsl(224, 36%, 15%);
    --theme2-key-bg: hsl(30, 25%, 89%);
    --theme2-key-shadow: hsl(28, 16%, 65%);
    --theme2-action-bg: hsl(225, 21%, 49%);
    --theme2-action-shadow: hsl(224, 28%, 35%);
    --theme2-equals-bg: hsl(6, 63%, 50%);
    --theme2-equals-shadow: hsl(6, 70%, 34%);
    --theme2-text: hsl(0, 0%, 100%);
    --theme2-key-text: hsl(221, 14%, 31%);

        /*tema 3(padrão) */

    --theme3-bg: hsl(222, 26%, 31%);
    --theme3-keypad-bg: hsl(223, 31%, 20%);
    --theme3-screens-bg: hsl(224, 36%, 15%);
    --theme3-key-bg: hsl(30, 25%, 89%);
    --theme3-key-shadow: hsl(28, 16%, 65%);
    --theme3-action-bg: hsl(225, 21%, 49%);
    --theme3-action-shadow: hsl(224, 28%, 35%);
    --theme3-equals-bg: hsl(6, 63%, 50%);
    --theme3-equals-shadow: hsl(6, 70%, 34%);
    --theme3-text: hsl(0, 0%, 100%);
    --theme3-key-text: hsl(221, 14%, 31%);
}

body{
    font-family: 'League Spartan', sans-serif;
    background-color: var(--theme1-bg);
    color: var(--theme1-text);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}
.calculator-container{
    display: flex;
    width: 600px;
    height: 700px;
    box-shadow: 100%;
    flex-direction: column;
    border-radius: 30%;
border-color: var(--theme1-bg);
}
.display{
    display: flex;
    height: 100px;
    width: 500px;
    justify-content: center;
    align-items: center;
    border-radius: 30%;
    
}
.keypad{
    background-color: var(--theme1-keypad-bg);
    display: flex;
    flex-wrap: wrap;
    height: 560px;
}
.key{
    width: 90px;
    height: 90px;
    border-radius: 10%;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
    margin: 3px;
    align-items: center;
}

.action{
    background-color: var(--theme1-action-bg);
    background-color: var(--theme1-action-shadow);
        color: var(--theme1-key-bg);
}

.span-2{
    width: 186px;
    background-color: var(--theme1-action-bg);
    background-color: var(--theme1-action-shadow);
        color: var(--theme1-key-bg);
}

.equals{
    background-color: var(--theme1-equals-bg);
}

.header{

}


